.testItem {
  padding: 12px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

.testItem:hover {
  background-color: var(--bs-secondary-bg);
}

/*  Поле редактирования */
.editInput {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
}

/*  Контейнер для иконок */
.iconContainer {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.testItem:hover .iconContainer {
  opacity: 1;
}

/*  Общий стиль иконок */
.icon {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.iconEdit:hover {
  color: var(--bs-warning);
}

.iconCopy:hover {
  color: var(--bs-info);
}

.iconDelete:hover {
  color: var(--bs-danger);
}

.iconAddGroup:hover {
  color: var(--bs-success);
}

/*  Контейнер иконки "Добавить группу" */
.iconAddGroupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-height: 100%;
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.testItem:hover .iconAddGroupContainer {
  opacity: 1;
}

/*  Контейнер списка групп */
.groupList {
  flex-grow: 1;
  margin-top: 5px;
  padding-top: 5px;
}

/*  Элементы групп (с чекбоксами) */
.groupItem {
  padding: 4px 8px;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Чекбокс */
.checkbox {
  width: 18px;
  height: 18px;
  appearance: none;
  background-color: var(--bs-body-bg);
  border: 2px solid var(--bs-border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  opacity: 0;
}

.testItem:hover .checkbox {
  opacity: 1;
}

.checkbox:checked {
  background-color: var(--bs-secondary);
  border-color: var(--bs-border-color);
}

.checkbox:checked::before {
  content: "✔";
  color: #ffffff;
  font-size: 12px;
}

.checkbox:hover {
  border-color: var(--bs-light);
}
