.testItem {
  padding: 12px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  position: relative;
}

.testItem:hover {
  background-color: var(--bs-secondary-bg);
}

.testItemHovered {
  background-color: var(--bs-secondary-bg) !important;
}

.iconContainerVisible,
.iconAddGroupVisible {
  opacity: 1 !important;
}

.editInput {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
}

.iconContainer {
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.testItem:hover .iconContainer {
  opacity: 1;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.iconEdit:hover {
  color: var(--bs-warning);
}

.iconCopy:hover {
  color: var(--bs-success);
}

.iconDelete:hover {
  color: var(--bs-danger);
}

.iconAddGroup:hover {
  color: var(--bs-success);
}

.iconAddGroupContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.testItem:hover .iconAddGroupContainer {
  opacity: 1;
}

.groupList {
  flex-grow: 1;
  margin-top: 5px;
  padding-top: 5px;
}

.groupItem {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testItem:hover .checkbox {
  opacity: 1;
}

.dropdownGroupList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 5px;
  z-index: 10;
  padding: 8px;
}

.dropdownGroupList-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdownGroupList-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dropdownGroupList-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdownGroupList-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.combinedIcon {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease-in-out;
}

.combinedIcon:hover {
  color: var(--bs-primary);
}

.peopleIcon {
  font-size: 1.4rem;
}

.plusMinusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plusIcon,
.minusIcon {
  font-size: 0.55rem;
}
