.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 10px;
  position: relative;
}

.carouselContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.item {
  flex-grow: 1;
  padding: 14px;
  background-color: transparent; /* Теперь фон полностью сливается */
  color: #ffffff; /* Текст стал мягче, но остаётся читаемым */
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: default;
  text-align: center;
  transition: color 0.3s ease, transform 0.3s ease;
  /* border: 1px solid #333; */
 /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  */
}

/* 🔹 Добавляем эффект наведения, чтобы текст немного светлел */
.item:hover {
  color: #ddd;
  
}

.navButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}

.navButton:hover {
  color: #888;
}
