.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  padding: 20px;
  text-align: center;
}

.message {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  font-weight: bold;
  color: white;
}

.dots span {
  font-size: 2rem;
  font-weight: bold;
  animation: blink 1.5s infinite;
  color: white;
}

.dots span:nth-child(1) {
  animation-delay: 0s;
}

.dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.dots span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
